<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Needed to read /proc/self/stat for CPU measurement -->
    <!-- No special permissions needed - we monitor our OWN process -->

    <application
        android:name=".DevLensApp"
        android:allowBackup="true"
        android:label="DevLens"
        android:theme="@style/Theme.DevLens"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
